//-********************************************************************************
//---------------------------------------------------------------------------------
//- Index.
//---------------------------------------------------------------------------------
//-********************************************************************************

extends extends/_extend_index

append config
	-var pageTitle = "PAGE TITLE"
	-var pageMetaDesc = "PAGE DESCRIPTION"

append HeadCss
	link( href=pathPageCss, rel="stylesheet", type="text/css" )

block body



