//-********************************************************************************
//---------------------------------------------------------------------------------
//- Mixins.
//---------------------------------------------------------------------------------
//-********************************************************************************


//-============================================================
//- Generate.
//-============================================================

//-----------------------------------------
//- Nav Menu
//-----------------------------------------

mixin generNavMenu(menu_items)
	.navmenu
		ul
			each top_item in menu_items
				li
					+generNavMenuChild(top_item)
					if top_item.child
						ul
							each child_item in top_item.child
								li
									+generNavMenuChild(child_item)

mixin generNavMenuChild(child_item)
	- var linkatts = { "href" : child_item.link }
	a()&attributes(linkatts)= child_item.title
	//- Usage
		+generNavMenu([
			{ "title" : "[TOPITEM1]", "link" : "topitem1.html"},
			{ "title" : "[TOPITEM2]", "link" : "topitem2.html",
				"child": [
					{ "title" : "[CHILDITEM1]", "link": "childitem1.html"},
					{ "title" : "[CHILDITEM2]", "link": "childitem2.html"},
					{ "title" : "[CHILDITEM3]", "link": "childitem3.html"},
					{ "title" : "[CHILDITEM4]", "link": "childitem4.html"},
					{ "title" : "[CHILDITEM5]", "link": "childitem5.html"}
				]
			},
			{ "title" : "[TOPITEM3]", "link" : "topitem3.html"},
			{ "title" : "[TOPITEM4]", "link" : "topitem4.html"},
			{ "title" : "[TOPITEM5]", "link" : "topitem5.html"}
		])

//-----------------------------------------
//- 
//-----------------------------------------


