//-********************************************************************************
//---------------------------------------------------------------------------------
//- Mixins.
//---------------------------------------------------------------------------------
//-********************************************************************************


//-============================================================
//- Generate.
//-============================================================

//-----------------------------------------
//- Nav Menu
//-----------------------------------------

mixin generNavMenu(menu_items)
	.navmenu
		ul
			each top_item in menu_items
				li
					+generNavMenuChild(top_item)
					if top_item.child
						ul
							each child_item in top_item.child
								li
									+generNavMenuChild(child_item)

mixin generNavMenuChild(child_item)
	- var linkatts = { "href" : child_item.link }
	a()&attributes(linkatts)= child_item.title